<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title></title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="resources/panel/admin/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="resources/panel/admin/css/custom.css">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <!-- Google Material Icons -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="resources/panel/admin/css/style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
    <link type="text/css" rel="stylesheet" href="resources/panel/admin/css/styles.css"/>
    <!-- D3 -->
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="resources/panel/admin/js/script.js" defer></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <div class="body-overlay"></div>
      <!-- Sidebar -->
      <nav id="sidebar">
        <div class="sidebar-header">
            <h3><img src="resources/calinagua/img/logo.png" class="img-fluid"/><span>CALINAGUA</span></h3>
        </div>
        <ul class="list-unstyled components">
           <li  class="active">
                <a href="admin" class="dashboard"><i class="material-icons">dashboard</i><span>Usuarios</span></a>
            </li>
  
            <li  class="active">
              <a href="ver_users" class="dashboard"><i class="material-icons">aspect_ratio</i><span>Ver usuarios</span></a>
           </li>
           <li  class="active">
              <a href="ingreso_usuarios" class="dashboard"><i class="material-icons">aspect_ratio</i><span>Ingresos users</span></a>
           </li>
           <li  class="active">
            <a href="registro_admins" class="dashboard"><i class="material-icons">aspect_ratio</i><span>Administradores</span></a>
          </li>
          <li  class="active">
          <a href="ver_admins" class="dashboard"><i class="material-icons">aspect_ratio</i><span>Ver admins</span></a>
          </li>
          <li  class="active">
          <a href="ingreso_admins" class="dashboard"><i class="material-icons">aspect_ratio</i><span>Ingresos admins</span></a>
          </li>
          
    </ul>
       
    </nav>

      <!-- Page Content -->
      <div id="content">
        <div class="top-navbar">
          <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
              <!-- Botón de colapso del sidebar -->
              <button type="button" id="sidebarCollapse" class="d-xl-block d-lg-block d-md-none d-none">
                <span class="material-icons">arrow_back_ios</span>
              </button>
        
              <!-- Título centrado -->
              <a class="navbar-brand mx-auto text-center">
                <h2 style="color: white; font-weight: bold; font-size: 2rem;">Panel de administración / Registro de usuarios</h2>
              </a>
             
              <!-- Botón de menú móvil -->
              <button class="d-inline-block d-lg-none ml-auto more-button" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="material-icons">more_vert</span>
              </button>
        
              <div class="collapse navbar-collapse d-lg-block d-xl-block d-sm-none d-md-none d-none" id="navbarSupportedContent">
                <ul class="nav navbar-nav ml-auto">
                  <!-- Aquí puedes añadir elementos adicionales si es necesario -->
                </ul>
              </div>
            </div>
          </nav>
        </div>
        <div class="main-content">
          <div class="row">
            <div class="top-content">
              <div class="container mt-3">
                <div class="row justify-content-center">
                  <!-- Formulario centrado -->
                  <div class="col-md-9"> <!-- Formulario ocupa 9 columnas de 12 -->
                    <form id="userForm" action="/registro_usuarios" method="post">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group" >
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-control" id="nombre" name="nombre_us" placeholder="Ingresa el nombre" required>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="apellido">Apellido</label>
                            <input type="text" class="form-control" id="apellido" name="apellido_us" placeholder="Ingresa el apellido"required >
                          </div>
                        </div>
                      </div>
            
                      <div class="row">
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="edad">Edad</label>
                            <input type="number" class="form-control" id="edad" name="edad_us" placeholder="Edad" required>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="pais">País</label>
                            <input type="text" class="form-control" id="pais" name="pais_us" placeholder="País" required>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="provincia">Provincia</label>
                            <input type="text" class="form-control" id="provincia" name="provincia_us" placeholder="Provincia" required>
                          </div>
                        </div>
                      </div>
            
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="ciudad">Ciudad</label>
                            <input type="text" class="form-control" id="ciudad" name="ciudad_us" placeholder="Ciudad">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="empleo">Nivel de escolaridad</label>
                            <select class="form-select" id="empleo" name="empleo_us">
                              <option value="inicial">Educación Inicial</option>
                              <option value="elemental">Básica Elemental</option>
                              <option value="media">Básica Media</option>
                              <option value="superior">Básica Superior</option>
                              <option value="bgu">Bachillerato General Unificado (BGU)</option>
                              <option value="tecnico">Bachillerato Técnico</option>
                              <option value="tecnica">Educación Técnica y Tecnológica</option>
                              <option value="universitaria">Educación Universitaria</option>
                              <option value="maestria">Maestría</option>
                              <option value="doctorado">Doctorado</option>
                              <option value="ninguno">Ninguno</option>
                            </select>
                          </div>
                        </div>
                      </div>
            
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="correo">Correo</label>
                            <input type="email" class="form-control" id="correo" name="correo_us" placeholder="Correo electrónico">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="contrasenia">Contraseña</label>
                            <input type="password" class="form-control" id="contrasenia" name="contrasenia_us" placeholder="Contraseña">
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3 d-flex justify-content-center"> <!-- Botones centrados -->
                        <div class="d-flex flex-column">
                          <button type="submit" class="btn btn-primary mb-2">Ingresar usuario</button>
                        </div>
                      </div>
                    </div>
                    </form>
                  </div>
            
                  <!-- Botones CRUD centrados -->
                  
              </div>
            </div>
            
            <script>
              // Cambiar el placeholder del campo de búsqueda dependiendo del campo seleccionado
              document.getElementById('campoBusqueda').addEventListener('change', function() {
                const campoSeleccionado = this.value;
                const placeholderInput = document.getElementById('valorBusqueda');
            
                // Condicional para agregar "el" o "la" dependiendo del campo seleccionado
                if (['id_us','nombre_us', 'apellido_us', 'pais_us', 'empleo_us', 'correo_us'].includes(campoSeleccionado)) {
                  placeholderInput.placeholder = `Ingrese el ${this.options[this.selectedIndex].text.toLowerCase()}`;
                } else {
                  placeholderInput.placeholder = `Ingrese la ${this.options[this.selectedIndex].text.toLowerCase()}`;
                }
              });
            </script>
            
            </div>
          </div>
    </div>
    <!-- jQuery and Bootstrap Bundle -->
    <script src="resources/panel/admin/js/jquery-3.3.1.min.js"></script>
    <script src="resources/panel/admin/js/bootstrap.bundle.min.js"></script>
    <!-- Custom JavaScript -->
    <script src="resources/panel/admin/js/custom.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> 
    <% if (typeof alert != "undefined") { %>
        <script>
           Swal.fire({
              title: '<%= alertTitle %>',
              text: '<%= alertMessage %>',
              showConfirmButton: <%= showConfirmation %>,
              timer: <%= timer %>
           }).then(() => {
              window.location = '<%= ruta %>';
           });
        </script>
    <% } %>

  </body>
</html>

  <script type="text/javascript">
    $(document).ready(function () {
              $('#sidebarCollapse').on('click', function () {
                  $('#sidebar').toggleClass('active');
                  $('#content').toggleClass('active');
              });
              
               $('.more-button,.body-overlay').on('click', function () {
                  $('#sidebar,.body-overlay').toggleClass('show-nav');
              });
              
          });
  
  
       
             
         
  </script>
    
    
